.header{
  padding: 30px 24px;
  background: red;
  &__row{
    display: flex;
    justify-content: space-around;
  }
  &__list{
    display: flex;
    column-gap: 25px;
    &-item{
      color: #FFF;
      font-family: Raleway sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
  &__contact{
    display: flex;
    column-gap: 30px;
  }
}